body{
    background-color: rgba(248, 165, 194,0.2);
}
.top {
    background-color: whitesmoke;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    height: 110px;
    padding: auto;
    bottom: 5px;
    border-radius: 12px;
    box-shadow: 10px 10px 8px #888888;
}

#Logo {
    border: 2px solid black;
    position: absolute;
    height: 100px;
    width: 350px;
    text-align: center;
}
#searchbar {
    top: 20px;
    position: absolute;
    right: 200px;
    border: none;
    border-radius: 12px;
}

.top input[type=text] {
    font-size: 15px;
    padding: 5px;
    border-radius: 12px;
    width: 600px;
    margin-top: 5px;
    box-shadow: 3px 3px 3px ;
}

.top button {
    margin: 7px; 
    cursor: pointer;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
}

.top button:hover {
    background: orange;
}
#category {
    float: right;
    overflow: hidden;
}

#category {     
    color: black;
    padding: 8px 10px;
    margin-right: 40px;   
}

#category-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 15px;
    padding: 8px 12px;
   
}

#category-content a {
    font-size: 15px;
    float: inherit;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    width: 50px;
}

#category-content a:hover{
    background-color: #ddd;
}

#category:hover #category-content {
    display: block; 
}



/*contain mid page */
h2 { 
    display: flex;
    flex-direction: column;   
    margin: 20px 0 20px 100px;
    font-family: 'Varela Round', sans-serif;
    font: italic;
}
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    width: 1000px;
    position: relative;
    height: 561px ;
    left: 50px;
    border-top: 3px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px ;
    border-bottom: 3px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.accordion button {
    background-color: whitesmoke;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 1000px;
    border: 2px solid black;
    border-radius: 12px;
    outline: none;
    font-size: 25px;
    transition: 0.5s;
    box-shadow: 2px 2px 2px;
    float: right;
}

.active, .accordion:hover {
  background-color: #ccc;
}
.contain {
  padding: 0 10px ;
  width: 980px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.contain p {
    font-size: 18px;
    float: right;
    margin-bottom: 10px;
}
 .contain nav {
    margin-top: 15px;
    font-size: 18px;
}


#sidebar {    
    position: absolute;
    box-sizing: border-box;
    border: 2px solid black;
    right: 60px;
    height: 500px;
    width: 18%;
    top: 230px;   
}



/*bot nav*/
.bottom {
    border-top: 1px solid black;
    top: 200px;
    position: relative;
    height: 40px;
    width: 100%;
}

#bot-nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 85px;
    font-size: 20px;
}

.bottom h3 {
    text-align: center;
    padding-bottom: 30px;
    font-style: italic ;
}

